<a href="https://colab.research.google.com/github/atulghunavat/atul_INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01_Atul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [88]:
# # str = "My name is Atul"
# # print(len(str))

def str_len(str1):
  count = 0
  for char in str1:
    count += 1
  return count
print(str_len("My name is Atul"))

15

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
# write your answer here
string = "my name is atul"
all_char = {}
for i in string:
  if i in all_char:
    all_char[i] += 1
  else:
    all_char[i] = 1

print((all_char))

{'m': 2, 'y': 1, ' ': 3, 'n': 1, 'a': 2, 'e': 1, 'i': 1, 's': 1, 't': 1, 'u': 1, 'l': 1}

(3) Write a Python program to sum all the items in a list

In [55]:
# write your answer here
list = [1,2,5,10]
count1 = 0
for i in list:
  count1 = i + count1
print(count1)
# print("Sum of all items: " + str(count1))

18

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [63]:
# write your answer here
'''
string1 = "mynameismarvin"
string3 = ''
string2 = string1[0]
for a in range(len(string1)):
  if a != 0 and string1[a] == string2:
    string3 = string2 + string1[1:].replace(string1[a], '$')
print(string3)
'''
string1 = "mynameismarvin"
string2 = string1[0]
string3 = string2 + string1[1:].replace(string2, '$')
print(string3)

myna$eis$arvin

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [64]:
# write your answer here
def calculate(a,b):
  s=3.14*(1+a/b)**3
  return s
print(calculate(2,3))

14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [119]:
# write your answer here
def Merge(dic1, dic2, dic3): 
    (dic1.update(dic2))
    return (dic1.update(dic3))
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
Merge(dic1,dic2,dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [84]:
# write your answer here
tup = (50,15,25.6,"Python")
x = "Python"
a = x in tup
print(a)

True

(8) Write a Python program to find maximum and the minimum value in a set.

In [91]:
# write your answer here
settle = {1, 20, -5, -9}
print("Maximum in set:")
print(max(settle))
print("Minimum in set:")
print(min(settle))

Maximum in set:
20
Minimum in set:
-9

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [117]:
# write your answer here
import random
import math
studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
random.shuffle(studnet_list)
# print(studnet_list)
leng = len(studnet_list)
quot = math.floor(leng / 4)
remain = leng % 4
grp1 = []
grp2 = []
grp3 = []
grp4 = []
for x in range(len(studnet_list)):
  if x<quot:
    grp1.append(studnet_list[x])
  if x >= quot and x<quot*2:
    grp2.append(studnet_list[x])
  if x >= quot*2 and x < quot*3:
    grp3.append(studnet_list[x])
  if x >= quot*3 and x<quot*4:
    grp4.append(studnet_list[x])

if remain > 0:
  grp1.append(studnet_list[leng-remain])
if remain > 1:
  grp2.append(studnet_list[leng-remain+1])
if remain > 2:
  grp3.append(studnet_list[leng-remain+2])
   
print("Group 1: " + ', '.join(grp1))
print("Group 2: " + ', '.join(grp2))
print("Group 3: " + ', '.join(grp3))
print("Group 4: " + ', '.join(grp4))

Group 1: tbl0041, pb0283, pt0218, ps0501, vmb0067, hn0139, dp1080, rp0477, bs0490
Group 2: ss1872, vk0222, am1823, vk0216, ap0975, pk0292, tpk0023, ss1976, hr0178
Group 3: an0521, ak0860, ry0104, lg0426, ag1121, mj0396, vcd0017, lba0043, sm1515
Group 4: vp0241, al0787, ss1872, laa0240, nk0327, mk0830, sa0753, km0738